*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 3359px;
}

.header{
    display: flex;
    position: fixed;
    height: 60px;
    width: 1440px;
    background-color: #FFFFFF;
    justify-content: space-between;
    z-index: 3;
}

.evian{
    font-size: 50px;
    color: #E50043;
    margin-left: 20px;
}

.links{
    flex-wrap: wrap;
    display: flex;
    justify-self: space-between;
    font-size: 50px;
    color: #E50043;
    margin-right: 20px;
}

a{
    margin-left: 25px;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    height: 950px;
    background-image: url(images/evian_origins_logo.png);
    
}

.logoText{
    color: #E50043;
    font-size: 100px;
}

.frame{
    border: 2px solid pink;
    border-radius: 15px;
    width: 1040px;
    height: 280px;
    background-size: auto;
    margin: 290px auto;
    padding: 20px 0;
}

.bottomFrame{
    display:flex;
    width: 1040px;
    border: 2px solid pink;
    border-radius: 15px;
    margin: 290px auto;
    justify-content: space-around;

}

.bottomFrameText{
    display: flex;
    width: 749px;
    height: 220px;
    justify-content: space-around;
    flex-direction: column;
    margin-top: 25px;
}

.bottleInFrame{
    margin-top: 25px;
    width: 101px;
    height: 220px;
}

.textInFrame{
    font-size: 25px;
    margin-left: 25px;
    margin-right: 25px;
}

.bottles{
    display: flex;
    justify-content: space-between;
    width: 1040px;
    margin: 0 auto;
}

.wangText,
.lacroixText,
.chiaraText{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wangImage,
.lacroixImage,
.chiaraImage{
    margin-bottom: 20px;
}

.footer{
    display: flex;
    height: 140px;
    background-color: #F8BFC7;
    align-items: center;
}

.textInFooter{
    font-size: 50px;
    color: #FFFFFF;
    margin-left: 20px;
}